<!DOCTYPE HTML>
<html>
<title>{{ title }}</title>
<head>
	<link href="staticfiles/css/styles.css" rel="stylesheet" />
</head>
<body>
	<h1 id="blueHeader">Welcome to Node.js app{% if name %} {{ name }}{% else %}{% endif %}! {% if age %} you are {{ age }} {% endif %}</h1>
	<form method="POST" action="/start" id="formys" enctype="application/x-www-form-urlencoded">
		<input type="text" name="name"/>
		<input type="text" name="age"/>
		<input type="submit" value="Byt namn"/>
	</form>
	<br/><br/><br/>
	<a onClick="checkAjax();">Click for ajax</a>
	<br/>
	<div id="fillmeh">
	</div>
	<a href="/find">Find Users</a>;
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="staticfiles/js/scripts.js"></script>
</body>
</html> 